<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="Active">
      <a class="nav-link" routerLink="/home" skipLocationChange="true">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="Active">
      <a class="nav-link" routerLink="/form" skipLocationChange="true">Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" skipLocationChange="true">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" skipLocationChange="true">Contact</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
